/* 
 * Custom CSS file for booksilove.com
 * Author: Jessica Chan (http://www.jessicachanstudios.com/)
 */

@import url('typography.css');

/*
GLOBAL STYLES
*/

	body {
		font-size: 16px;
		font-family: 'Helvetica Neue', Arial, sans-serif;
		font-weight: 200;
		color: #AAAAAA;
		padding: 20px 0 0 0;
	}

	body.node-type-webform {
		padding-top: 10px;
	}

	h1 {
		font-family: 'Helvetica Neue', Arial, sans-serif;
		font-weight: 100;
		font-size: 3em;
		line-height:1.2em;
		margin: 0 0 30px 0;
		color: #888888;
	}

	h2 {
		font-family: 'Helvetica Neue', Arial, sans-serif;
		font-weight: 100;
		font-size: 2em;
		line-height: 1em;
		margin: 0 0 30px 0;
		color: #888888;
	}

	h3 {
		font-family: 'Helvetica Neue', Arial, sans-serif;
		font-weight: 100;
		font-size: 1.7em;
		line-height: 1em;
		margin: 0 0 30px 0;
		color: #888888;
	}

	p {
		font-family: 'Helvetica Neue', Arial, sans-serif;
		font-weight: 200;
		margin: 0 0 30px 0;
		line-height: 1.3em;
		font-size: 1.1em;
	}

	a {
		text-decoration: none;
		color: #812D81;
	}

	li a.active {
		font-weight: 600;
		color: #812D81;
	}

	ul {
		padding-left: 20px;
	}

	li {
		font-family: 'Helvetica Neue', Arial, sans-serif;
		font-weight: 200;
		margin: 0 0 7px 0;
		line-height: 1.3em;
		font-size: 1.1em;
		text-align: left;
	}

	.inner-div {
		width: 960px;
		margin: 0 auto;
	}

	.header .title {
		display: none;
	}

	.header nav {
		position: fixed;
		background-color: #ffffff;
		text-align: center;
		width: 100%;
		top: 0;
		z-index: 100;
		-webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .2);
		box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .2);

	}

	.mobile-menu {
		display: none;
	}

	ul.menu {
		padding: 0;
	}

	ul.menu li {
		margin: 0 15px;
	}

	ul.menu li a {
		color: #812D81 !important;
	}

	.top-divider {
		position: absolute;
		background: transparent url('../img/divider-down.png') no-repeat center top;
		height: 6px;
		width: 100%;
		top: 3px;
	}

	.masthead-logo {
		width: 432px;
		margin: 60px 0;
	}

	ul.menu {
		text-align: center;
		height: 40px;
		margin-top: 15px;
	}

	ul.menu li {
		display: inline;
	}

	.masthead {
		background: transparent url('../img/background.jpg') no-repeat top center;
		text-align: center;
	}

	.node-type-article .news-menu-item, .front .the-app-menu-item {
		font-weight: 600;
	}

/* Homepage Feature Section 1 */

	.front .page-title {
		display: none;
	}

	.homepage-feature-1 .hero-image {
		width: 50%;
		float: right;
		text-align: center;
	}

	.homepage-feature-1 .hero-image img {
		width: 100%;
		position: relative;
		top: -40px;
	}

	.homepage-feature-1 .feature-text {
		width: 50%;
		float: right;
		padding-top: 60px;
	}

	.signup-button {
		margin-bottom: 20px;
		cursor: pointer;
	}

/* Homepage Feature Section 1a */

	.homepage-feature-1a {
		margin-top: 40px;
	}

	.homepage-feature-1a .vimeo-iframe {
		width: 100%;
		height: 540px;
		margin-bottom: 60px;
	}


/* Homepage Feature Section 3 (About Us) */

	.homepage-feature-3 .hero-image {
		width: 50%;
		float: left;
		text-align: center;
	}

	.homepage-feature-3 .hero-image img {
		width: 100%;
		position: relative;
		top: -40px;
	}

	.homepage-feature-3 .feature-text {
		width: 50%;
		float: left;
		padding-top: 60px;
	}

/* Homepage News Block */

	.news-block {
		background-color: #812D81;
		color: #ffffff;
		text-align: center;
		padding: 80px 0;
		clear: both;
		margin-top: -40px;
	}

	.news-block h1 {
		color: #ffffff;
	}

	.news-block a {
		color: #ffffff;
	}

	.views-field-field-teaser-image {
		float: left;
		margin-right: 40px;
		min-height: 200px;
	}

	.views-field-title {
		margin-bottom: 10px;
	}

	.views-field-title a {
		font-size: 2em;
		font-weight: 100;
	}

	.views-field-body {
		line-height: 1.4em;
		margin-bottom: 10px;
	}

	.views-field-view-node, .views-field-comment-count, .views-field-created {
		float: left;
		margin: 0 10px;
	}

	.views-field-view-node {
		margin-left: 0;
	}

	.views-field-view-node a {
		font-weight: 600;
	}

	.views-field-view-node, .views-field-comment-count {
		border-right: white solid 1px;
		padding-right: 20px;
	}

	.news-block .more-link {
		text-align: center;
		font-weight: 400;
		font-size: 1.3em;
	}

	.news-view-rows {
		width: 960px;
		margin: 0 auto;
		text-align: left;
		min-height: 200px;
		clear: both;
	}


/* Homepage FAQ block */

	.faq-view {
		margin-top: -40px;
		padding: 80px 0;
		background-color: #812D81;
		color: #ffffff;
		clear: both;
	}

	.faq-view h1 {
		color: #ffffff;
		text-align: center;
		margin-bottom: 40px;
	}

	.faq-view .views-field-title {
		font-size: 2em;
		font-weight: 100;
		text-align: center;
	}

	.faq-view .views-field-body {
		text-align: center;
	}

	.faq-view a {
		color: #ffffff;
	}

/* News page */

	.page-news #main-content {
		padding: 80px 0;
	}

	.page-news a {
		color: #AAAAAA;
	}

	.page-news .view-header h1 {
		text-align: center;
		padding-bottom: 40px;
	}

	ul.pager {
		text-align: center;
		list-style-type: none;
	}

	ul.pager li {
		display: inline;
		margin: 0 10px;
	}

	ul.pager li a {
		color: #812D81;
	}

/* Article formatting */
	
	.node-article {
		width: 960px;
		margin: 0 auto;
		padding: 60px 0;
	}

	.node-article .field-type-image img {
		width: 100%;
		height: auto;
		margin-bottom: 40px;
	}

	.node-article .field-type-text-with-summary {
		width: 600px;
		float: left;
	}

	.article-right-column {
		width: 300px;
		float: left;
		padding-left: 60px;
	}

	.back-to {
		padding-left: 20px;
		background: transparent url('../img/left-arrow.png') no-repeat left 3px;
	}

/* Comment formatting */

	.comment-wrapper h2:first-child {
		display: none;
	}

	article.comment .links {
		display: none;
	}

	#edit-comment-body-und-0-format-help {
		display: none;
	}

	article.comment {
		margin: 20px 0;
	}

	article.comment a.permalink {
		display: none;
	}

	article.comment span.username {
		font-weight: 400;
	}

	#comment-form label {
		margin: 10px 0 20px 0;
	}

	label.required {
		color: #AAAAAA;
	}

	label.required:after {
		content: "*";
	}

	.comments-header {
		clear: both;
	}

/* Footer classas */
	.bil-footer {
		text-align: center;
		line-height: 1.7em;
		background: #EEEEEE url('../img/divider.png') no-repeat center top;
		padding: 80px 0;
		clear: both;
	}

	.bil-footer .logo {
		margin-bottom: 20px;
	}

/* Submit Form */

	#webform-client-form-15, .webform-confirmation {
		width: 400px;
		margin: 0 auto;
		padding: 0 20px 20px 20px;
	}

	.webform-confirmation {
		padding-top: 80px;
	}

	#webform-client-form-15 #edit-actions {
		text-align: right;
		padding: 0 20px;
	}

	#webform-client-form-15 #edit-submit {
		width: 179px;
		height: 37px;
		background: transparent url('../img/signup-button-emailsignup.png') no-repeat center top;
		border: 0;
	}

	#edit-submitted-email, #edit-submitted-comments-promo-code {
		background-color: #ffffff;
		-webkit-box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, .2);
		box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, .2);
		border: 1px #c6c6c6 solid;
		width: 360px;
		height: 40px;
		padding-left: 10px;
		font-size: 1.4em;
		color: #333333;
	}

	#edit-submitted-comments-promo-code {
		width: 373px;
		height: 110px;
		padding-top: 10px;
	}

	::-webkit-input-placeholder {
		font-weight: 200;
		font-size: 1em;
	}

	:-moz-placeholder { /* Firefox 18- */
	    font-weight: 200;
		font-size: 1em;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	    font-weight: 200;
		font-size: 1em;
	}

	:-ms-input-placeholder {  
	    font-weight: 200;
		font-size: 1em;
	}

	#edit-submitted-which-device-do-you-prefer.form-radios input, .form-radios label {
    	display: inline;
	}

	#edit-submitted-which-device-do-you-prefer.form-radios > div {
	    display: inline;
	    padding-right: 3px;
	}

	#edit-submitted-which-device-do-you-prefer.form-radios label {
	    font-weight: 400;
	}

	#webform-component-which-device-do-you-prefer > label {
	    padding-bottom: 10px;
	}

	/* Basic Page */

	article.node-page {
		width: 960px;
		margin: 30px auto;
	}

/* Utility classes */

	.clear-both {
		clear: both;
	}

	.smaller {
		font-size: .85em;
	}

	.grey {
		color: #AAAAAA;
	}

/* Responsive classes */

	@media screen and (max-width:1024px) {

		body {
			font-size: 14px;
		}

		.inner-div {
			width: 90%;
		}

		.homepage-feature-1 .feature-text {
			padding: 60px 0;
		}

		.homepage-feature-3 .hero-image img, .homepage-feature-1 .hero-image img {
			top: 20px;
		}

		.news-view-rows {
			width: 90%;
		}

		article.node-page {
			width: 95%;
		}

	}

	@media screen and (max-width: 768px) {

		.homepage-feature-1 .feature-text {
			width: 70%;
		}

		.homepage-feature-1 .hero-image {
			width: 52%;
			position: absolute;
			left: -160px;
		}

		.homepage-feature-3 .feature-text {
			width: 60%;
		}

		.homepage-feature-3	.hero-image {
			position: absolute;
			right: -110px;
			width: 45%;
		}

		.news-view-rows {
			width: 90%;
			margin: 0 auto;
			padding: 20px 0;
		}

	}

	@media screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
		.homepage-feature-1a .vimeo-iframe {
			height: 163px;
		}
	}

	@media screen and (max-width:420px) {
		
		body {
			padding: 0;
			text-align: center;
		}

		h1 {
			font-size: 2.4em;
		}

		h2 {
			font-size: 2em;
		}

		h3 {
			font-size: 1.7em;
		}

		.masthead {
			padding-top: 20px;
		}

		.masthead-logo {
			width: 85%;
			margin-bottom: 40px;
		}

		.mobile-menu {
			width: 100%;
			height: 55px;
			position: fixed;
			background-color: #ffffff;
			display: block;
		}

		.mobile-menu img {
			height: 35px;
			padding-top: 9px;
			width: auto;
			cursor: pointer;
			position: fixed;
			right: 5px;
		}

		.header nav {
			top: 55px;
		}

		ul.menu {
			padding: 30px 0 20px 0;
			height: auto;
			margin-top: 0;
			background: #eeeeee url('../img/divider-mobile.png') no-repeat top center;
			display: none;
		}

		ul.menu li {
			display: block;
		    font-size: 1.8em;
		    margin-bottom: 10px;
		    text-align: center;
		}

		/* FEATURES */
		.homepage-feature-1 .feature-text, .homepage-feature-3 .feature-text {
			margin: 0 auto;
			width: 95%;
			padding: 30px 0;
			float: none;
		}

		.homepage-feature-1 .hero-image, .homepage-feature-3 .hero-image {
			left: 0;
			position: relative;
			width: 95%;
			margin: 0 auto 20px auto;
			float: none;
			text-align: center;
		}

		.homepage-feature-1 .hero-image img, .homepage-feature-3 .hero-image img {
			top: 0;
		}


		.vimeo-iframe {
			height: 163px;
		}

		/* NEWS */

		.views-field-field-teaser-image {
			float: none;
			margin: 0;
			text-align: center;
			clear: both;
			min-height: 0;
		}

		.views-field-field-teaser-image img {
			margin: 20px 0;
		}

		.news-view-rows {
			text-align: center;
			margin: 30px auto;
		}

		.views-field-created {
			float: none;
			clear: both;
			padding-top: 10px;
		}

		.views-field-view-node {
			margin-left: 55px;
		}

		.views-field-comment-count {
			border: 0;
		}

		/* Article page */

		.node-article {
			width: 90%;
			padding: 30px 0;
			text-align: left;
		}

		.node-article .field-type-text-with-summary {
			width: 100%;
			float: none;
		}

		.back-to {
			text-align: left;
		}

		.article-right-column {
		    float: none;
		    margin: 30px 0;
		    padding-left: 0;
		    width: 100%;
}

		/* News index page */

		.page-news .view-header h1 {
			font-size: 3em;
			padding: 0;
		}

		/* FOOTER */

		.bil-footer .logo {
			width: 85%;
		}

		.bil-footer {
			font-size: .85em;
		}

		/* Sign Up Form */
		#edit-submitted-email {
			width: 80%;
		}

		#edit-submitted-comments-promo-code {
			width: 84%;
			margin-left: auto;
			margin-right: auto;
		}

		#webform-client-form-15, .webform-confirmation {
			width: auto;
			padding: 0;
		}		

	}


/* UTILITY CLASSES */

.text-align--center {
	text-align: center;
}
